---
import DotsIcon from "../icons/DotsIcon.astro";
const projects = [
  {
    title: "Project 1",
    image: "/images/project-placeholder.png",
    video: "/videos/project-placeholder.mp4",
    url: "https://www.google.com/",
  },
  {
    title: "Project 2",
    image: "/images/project-placeholder.png",
    video: "/videos/project-placeholder.mp4",
    url: "https://www.google.com/",
  },
  {
    title: "Project 3",
    image: "/images/project-placeholder.png",
    video: "/videos/project-placeholder.mp4",
    url: "https://www.google.com/",
  },
];
---

<section>
  <header>
    <h2>Projects</h2>
  </header>
  <div id="projects-list">
    {
      projects.map(({ image, title, video, url }) => (
        <figure class="project" data-project-url={url}>
          <span>
            <DotsIcon />
          </span>
          <img src={image} alt={`${title} Image`} />
          <video loop autoplay src={video} />
          <figcaption>
            <a target="_blank" href={url}>
              {title}
            </a>
          </figcaption>
        </figure>
      ))
    }
  </div>
</section>

<script>
  const $projectsList = document.querySelector("#projects-list");
  $projectsList?.addEventListener("click", (e) => {
    const target = e.target as HTMLElement;
    const $project = target?.closest(".project");
    if (!$project) return;
    const url = $project.getAttribute("data-project-url");
    if (!url) return;
    window.open(url, "_blank");
  });
</script>

<style>
  section {
    color: white;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  header {
    margin-bottom: 48px;
    font-size: 28px;
    font-weight: 900;
    width: 100%;
    position: relative;
  }

  header::after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 85vw;
    height: 4px;
    background-color: #f27121;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  figure {
    width: 90%;
    background: linear-gradient(270deg, #ffffff1a 0%, transparent 94.4%);
    height: 180px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
    max-width: 360px;
  }

  figure:nth-child(even) {
    align-self: flex-end;
    background: linear-gradient(90deg, #ffffff1a 0%, transparent 94.4%);
    flex-direction: row-reverse;
    padding: 0 10px 0 0;
  }

  img,
  video {
    aspect-ratio: 16/10;
    object-fit: cover;
    width: 256px;
    height: auto;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  video {
    display: none;
  }

  figure figcaption {
    position: absolute;
    text-align: right;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: "Intro Demo", sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 90%;
    letter-spacing: 0.72px;
    right: 6px;
    bottom: 28px;
    transition: bottom 0.3s ease-in-out;
  }

  figure:nth-child(even) figcaption {
    text-align: left;
    right: auto;
    left: 6px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  figure span {
    position: absolute;
    top: 10px;
    right: 16px;
  }

  figure:nth-child(even) span {
    right: auto;
    left: 16px;
  }

  @media screen and (max-width: 380px) {
    header::after {
      width: 95vw;
    }

    div {
      gap: 16px;
      align-items: center;
      justify-content: center;
    }

    img,
    video {
      position: static;
      width: 100%;
    }

    figure,
    figure:nth-child(even) {
      width: 250px;
      padding: 0;
      flex-direction: column;
      gap: 8px;
      background: inherit;
      align-items: flex-start;
      align-self: center;
      padding: 8px 0;
      height: fit-content;
    }

    figure span,
    figure:nth-child(even) span {
      display: none;
    }

    figure figcaption,
    figure:nth-child(even) figcaption {
      position: static;
      top: unset;
      bottom: unset;
      left: unset;
      right: unset;
      text-align: left;
      text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
      font-size: 16px;
      justify-self: flex-start;
    }
  }
</style>
